target/
build/
out/
bin/
dist/
tmp/
temp/

# Maven
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
.gradle-task-name-cache

*.log
logs/
hs_err_pid*
replay_pid*

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Eclipse / STS ###
.project
.classpath
.settings/
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.DS_Store
Thumbs.db

*.class
*.jar
*.war
*.ear

dependency-reduced-pom.xml
flattened-pom.xml
build.log
dump.rdb

.cache/
*.tmp

# .env
# *.env
# application-local.properties
# application-dev.properties
src/main/resources/certs/
